    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboar</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">In Time</span>
                    <span class="info-box-number">
                      {{dashboard?.inTime}}
                      <small></small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Out Time</span>
                    <span class="info-box-number">{{dashboard?.outTime}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
    
              <!-- fix for small devices only -->
              <div class="clearfix hidden-md-up"></div>
    
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Leave Application</span>
                    <span class="info-box-number">{{dashboard?.totalLeaveApplication}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Other Application</span>
                    <span class="info-box-number">{{dashboard?.totalOtherApplication}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
                         <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Last 7 days Attendance Record</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button> -->
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Date</th>
                      <th>In Time</th>
                      <th>Out Time</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attn of dashboard?.lastSevendDaysAttendance">
                        <td>{{attn.date}}</td>
                        <td>{{attn.inTime}}</td>
                        <td>{{attn.outTime}}</td>
                        <td>
                          @if (attn.attendanceStatus == 1) {
                            <div> 
                              <span class="badge badge-success">{{attn.remarks}}</span>
                            </div>
                          }
                          @else if (attn.attendanceStatus == 2 || attn.attendanceStatus == 21 || attn.attendanceStatus == 20) {
                            <div> 
                              <span class="badge badge-warning">{{attn.remarks}}</span>
                            </div>
                          }
                          @else if (attn.attendanceStatus == 3) {
                            <div> 
                              <span class="badge badge-danger">{{attn.remarks}}</span>
                            </div>
                          }
                          @else if (attn.attendanceStatus == 7) {
                            <div> 
                              <span class="badge badge-info">{{attn.remarks}}</span>
                            </div>
                          }
                          @else{
                            <div> 
                              <span class="badge badge-secondary">{{attn.remarks}}</span>
                            </div>
                          }              
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a> -->
                <a routerLink="attendancehistory" class="btn btn-sm btn-secondary float-right">View All Attendance</a>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          <!-- /.col -->
          </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->